body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333333;
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

input[type="text"], input[type="date"], input[type="submit"], input[type="a"]{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"], input[type="a"] {
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}