/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
}

form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Style for displaying portfolio information */
h1 {
    color: #333;
    margin-top: 20px;
}

body {
    text-align: center;
}

/* Style for image input and display in the portfolio */
#fotoProfilo {
    max-width: 100%;
    margin-top: 20px;
}

#imgInput {
    margin-top: 10px;
}
