div {
    text-align: center;
    margin-top: 20px;
}

#ip {
    font-family: Arial, sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
}

h1 {
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    color: #333;
    margin-top: 20px;
}

#send {
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
}

li {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

li:hover {
    background-color: #ddd;
}
